.background-image-holder {
	position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  background-size: cover !important;
  background-position: 0% 0% !important;

  &.background-image-holder-left {
    background-position: 5% 0% !important;
    background-repeat: no-repeat !important;
  }

  &.full-screen {
    top: 0% !important;
    height: 130% !important;
  }
}

.go-left {
  &.side-image {
    bottom: 0px !important;
  }
}